<div class="cust-navbar">
    <img src="/image/full-logo.png" alt="" class="nav-logo">
    <div class="nav-links-container">
        <a href="/admin" class="nav-links admin-home">Home</a>
        <a href="/admin/clients" class="nav-links admin-clients">Clients</a>
        <a href="/admin/accounts" class="nav-links admin-accounts">Accounts</a>
        <a href="/admin/invoices" class="nav-links admin-invoices">Invoices</a>
        <a href="/admin/logout" class="nav-links">Logout</a>
    </div>
    <i class="bi bi-list offcanvas-open" onclick="openOffCanvas()"></i>
    <i class="bi bi-x-lg offcanvas-close" onclick="closeOffcanvas()"></i>
</div>

<div class="cust-offcanvas">
    <div class="nav-links-container">
        <a href="/admin" class="nav-links admin-home">Home</a>
        <a href="/admin/clients" class="nav-links admin-clients">Clients</a>
        <a href="/admin/accounts" class="nav-links admin-accounts">Accounts</a>
        <a href="/admin/invoices" class="nav-links admin-invoices">Invoices</a>
        <a href="/admin/logout" class="nav-links mt-5">Logout</a>
    </div>
</div>