<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee | Admin</title>
    <link rel="shortcut icon" href="/image/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/datatable/datatable.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <div class="wrapper">
        <div class="content">
            <div class="container-xxl">
                <div class="header-container">
                    <p class="header">Salary</p>
                </div>
                <div class="mt-4 w-100 overflow-x-scroll">
                    <table id="salaryTable" class="table table-striped">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/adminNavbar.js"></script>
    <script src="/js/script.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/datatable/datatable.js"></script>
    <script src="/datatable/datatable.bootstrap.js"></script>
    <script>
        let navActive = document.querySelectorAll('.admin-employee')
        document.addEventListener("DOMContentLoaded", () => {
            new DataTable('#salaryTable');
        })
        navActive.forEach((i) => {
            i.classList.add('active')
        })
    </script>
</body>

</html>