.options {
    width: 100%;
    height: 100dvh;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-anchor {
    display: block;
    width: 100%;
    border: 1px solid gray;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 5px;
    background: transparent;
    position: relative;
    overflow: hidden;
}

.options-anchor:hover {
    color: white;
}

.options-anchor::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-1);
    z-index: -1;
    transform: translateX(-100%);
    transition: .15s ease-in-out;
}

.options-anchor:hover::before {
    transform: translateX(0);
}

.wrapper {
    width: 100%;
    display: block;
    background: white;
}

.content {
    width: 100%;
    height: max-content;
}

.cust-navbar {
    display: block;
    background: #bcbcbc;
}

.nav-link {
    font-size: 20px;
    color: black;
}

.nav-link:hover {
    color: var(--color-1) !important;
}

.nav-link.active {
    color: var(--color-1) !important;
}

.navbar-logo {
    display: block;
    width: 200px;
}